<h3>Video Archive</h3>
<ul class="row list-archive">
  <li class="col-md-5">
    <a href="#" class="row">
      <span class="date col-md-2">Sep 27</span>
      <strong class="title">Security and Authentication</strong>
    </a>
  </li>
  <li class="col-md-5 push-md-1">
    <a href="#" class="row">
      <span class="date col-md-2">Sep 27</span>
      <strong class="title">Security and Authentication</strong>
    </a>
  </li>
  <li class="col-md-5">
    <a href="#" class="row">
      <span class="date col-md-2">Sep 27</span>
      <strong class="title">Security and Authentication</strong>
    </a>
  </li>
  <li class="col-md-5 push-md-1">
    <a href="#" class="row">
      <span class="date col-md-2">Sep 27</span>
      <strong class="title">Security and Authentication</strong>
    </a>
  </li>
</ul>
