<!--
<h2>
  {{#link-to 'home'}}Home{{/link-to}}
  |
  {{#link-to 'labs'}}Labs{{/link-to}}
  |
  {{#link-to 'media'}}Media{{/link-to}}
  |
  {{#link-to 'about'}}About{{/link-to}}
  |
  {{#link-to 'partners'}}Partners{{/link-to}}
  |
  {{#link-to 'eastereggs'}}Easter Eggs{{/link-to}}
  |
  {{#link-to 'code-of-conduct'}}Code of Conduct{{/link-to}}
  |
  Our Twitter
  |
  Our Facebook
  |
  {{#link-to 'notes'}}Notes{{/link-to}}

</h2> -->
<div class="container">
  <div class="row">
    <h1>
      {{#link-to 'home' class="this-dot-logo"}}This Dot{{/link-to}}
    </h1>
    <nav>
      <em class="subtitle">Overall about statement or announcement here</em>
      <div class="links">
        {{#link-to 'media'}}Media{{/link-to}}
        {{#link-to 'labs'}}Labs{{/link-to}}
        {{#link-to 'about'}}About{{/link-to}}
      </div>
    </nav>
  </div>
</div>
