<div class="container">
  <div class="row">
    <h1 class="col-md-3">
      {{#link-to 'home' class="thisdot-publication"}}
        This Dot Labs
      {{/link-to}}
    </h1>
    <nav class="col-md-6 col-lg-8">
      <div class="links">
        <a href="https://news.thisdot.co" target="_blank">
          News
        </a>
        {{#link-to 'media'}}Media{{/link-to}}
        {{#link-to 'labs'}}Labs{{/link-to}}
      </div>
    </nav>
  </div>
</div>
