html, body {
  margin: 0;
  padding: 0;
  background: #626D8E;
}

@import url(http://fonts.googleapis.com/css?family=Karla:700,400,400italic,700italic);

.container {
  padding: 30px;
  box-sizing: border-box;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: #4A4A4A;
  font-size: 120px;
  margin-top: 0;
  margin-bottom: 30px;
}

h1.logo {
  background: url(images/this-dot-media-logoai.svg) no-repeat;
  width: 100%;
  height: 300px;
  background-size: contain;
  background-position: center center;
  text-indent: -10000px;
  overflow: hidden;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  color: #4A4A4A;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
}

header {
  background: #fff;
  text-align: center;
}

section.subscribe {
  background: #626D8E;
}

p {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  color: #4A4A4A;
  font-size: 20px;
  line-height: 55px;
}

a {
  color: #156ACE;
}

*:focus {
  outline: 0;
}

form.ember-chimp label {
  display: block;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #A3DDE5;
  font-size: 18px;
  letter-spacing: 5px;
}

form.ember-chimp input {
  font-family: 'Karla', sans-serif;
  margin: 20px 0 0 0;
  border-radius: 5px;
  padding: 16px;
  font-size: 24px;
  font-weight: 700;
  background-color: #444f6f;
  color: #fafafa;
  width: 100%;
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
  outline: none;
  border: none;
  box-shadow: 0 2px 0 0 #323c58;
}

form.ember-chimp input:focus {
  color: #323c58;
  background-color: #fafafa;
  box-shadow: 0 2px 0 0 #ececec;
}

form.ember-chimp button {
  font-family: 'Karla', sans-serif;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  background-color: #f17774;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #F46663;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin: 20px 0 0 0;
}

form.ember-chimp button:hover {
  box-shadow: 0 0 0 0 #38B684;
  transform: translateY(4px);
}

form.ember-chimp .chimp-says {
  font-family: 'Karla', sans-serif;
  margin-top: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  max-height: 0px;
  transition: max-height 150ms ease-in-out, color 150ms ease-in-out 150ms;
  overflow: hidden;
  color: transparent;
  padding: 4px 10px;
}

.ember-chimp.error .chimp-says {
  color: #f6ffb7;
  border-bottom: 2px solid #f6ffb7;
  max-height: 100px;
}

.container.subscribe .success .chimp-says {
  color: #fafafa;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  max-height: 100%;
  padding: 0;
}
.container.subscribe .success input[type="email"], .container.subscribe .success button[type="submit"] {
  display: none;
}

@media (min-width: 767px) {
  .container-wrap {
    display: flex;
    flex-flow: row nowrap;
  }
  header {
    height: 100vh;
    min-width: 50%;
    position: relative;
  }
  .titles {
    position: absolute;
    width: 300px;
    height: 380px;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -150px;
  }
  .container.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .questions a {
    color: #fafafa;
  }
}

@media (min-width: 1024px) {
  header {
    height: 100vh;
    min-width: 62.5%;
  }
}
