@import 'foundation/all';
@import 'modules/nav-bar';
@import 'modules/footer';
@import 'modules/slider';
@import 'modules/content-section';

@import 'modules/home';
@import 'modules/media';
@import 'modules/labs';
@import 'modules/about';
@import 'modules/contact';
@import 'modules/javascript';
@import 'modules/privacy';
@import 'modules/landing-page';
@import 'modules/people-list';
@import 'modules/sponsors';
@import 'modules/careers';

body {
  @include body-copy();
  @include mobileOnly() {
    font-size: 16px;
    line-height: 24px;
  }
}

.image-placeholder {
  display: inline-block;
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  background: repeating-linear-gradient(
    45deg,
    #f9f9f9,
    #f9f9f9 10px,
    #f1f1f1 10px,
    #f1f1f1 20px
  );
  &.tall {
    height: 280px;
  }
}

.lazyLoad-container {
  min-height: 300px;
}
