.careers {
  ul {
    padding-left: unit-space(1);
    li {
      margin: unit-space(0.5) 0;
      &:before {
        content: '';
        width: 4px;
        height: 4px;
        display: block;
        background: $dark-alt-color;
        float: left;
        margin-left: -15px;
        margin-top: 12px;
      }
    }
  }
}

.career-details {
  text-align: left;
}
