@import url('https://fonts.googleapis.com/css?family=Raleway:300');

.landing-consulting {
  background: linear-gradient(180deg, #F5FBFB 20%, #fff );
  header {
    background: url(images/landing-art-mobile.svg) no-repeat;
    background-position: center calc(100% - 20px);
    padding-top: unit-space(1);
    padding-bottom: 130px;
    h2 {
      font-size: 48px;
      line-height: 60px;
      font-weight: 300;
      color: $main-color;
      text-transform: none;
    }
    @include mobileOnly() {
      h1 {
        display: none;
      }
    }
    @include tablet() {
      padding-top: unit-space(4);
      padding-bottom: 200px;
      background-position: center bottom;
    }
    @include desktop() {
      background-image: url(images/landing-art.svg);
      background-position: calc(100% - 50px) bottom;
      background-size: 70%;
      padding-bottom: 250px;
    }
  }

  .this-dot-logo-square {
    width: 150px;
    height: 100px;
    margin-top: 10px;
  }

  h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 unit-space(1) 0;
  }

  .content-column {
    margin-top: unit-space(2);
    p {
      font-size: 21px;
      line-height: 32px;
    }
  }

  blockquote {
    background: lighten($alt-color, 30);
    padding: unit-space(2) unit-space(2);
    position: relative;
    border-radius: unit-space(1);
    margin: unit-space(3) 0;
    text-align: center;
    p {
      margin: 0;
    }
    &:before, &:after {
      content: '\201C';
      font-size: 100px;
      font-weight: bold;
      color: $main-color;
      position: absolute;
    }
    &:before {
      top: unit-space(0.5);
      left: unit-space(2);
    }
    &:after {
      content: '\201D';
      bottom: -1 * unit-space(2);
      right: unit-space(2);
    }
  }

  aside {
    margin-top: unit-space(2);
    h3 {
      text-align: center;
    }

    .people-list {
      li {
        text-align: center;
      }
      h3 {
        margin: unit-space(0.5) 0;
      }
      p, .social {
        margin-top: unit-space(0.5);
      }
    }
    .avatar {
      float: none;
      display: inline-block;
      max-width: 100%;
      width: 200px;
      height: 200px;
    }
  }
}

.landing-contact {
  border-top: 2px solid $action-color;
  border-bottom: 2px solid $action-color;
  margin-top: unit-space(2);
  padding-top: unit-space(1);
  padding-bottom: unit-space(1);
  h3 {
    color: $action-color;
  }
  label {
    margin-bottom: unit-space(0.5);
  }
  .button {
    padding: unit-space(0.5) unit-space(1);
    margin-top: unit-space(2);
  }
}
