.content-section {
  @extend .container;
  border-top: 2px solid $alt-color;
  padding-top: unit-space(2);
  margin-top: unit-space(2);
  @include dots-footer(center);

  header {
    @include clearfix();
    margin-bottom: unit-space(4);
    &:before {
      content: '';
      background: $bright-color;
      height: 40px;
      width: 40px;
      border-radius: 100px;
      display: inline-block;
      float: left;
      margin-right: unit-space(1);
    }
    h2 {
      background: $bright-color;
      border-radius: 100px;
      color: #fff;
      padding: 0 unit-space(2);
      display: inline-block;
      height: 40px;
      box-sizing: border-box;
      font-size: 24px;
      line-height: 40px;
      a {
        color: #fff;
      }
    }
    p {
      float: right;
      line-height: 40px;
      margin: 0;
    }
  }

  &.alt {
    header {
      h2 {
        background-color: $bright-color-alt;
      }
      &:before {
        background-color: $bright-color-alt;
      }
    }
  }

  h3 {
    @include title-type();
    font-size: 32px;
    color: $title-color;
    margin-bottom: unit-space(2);
    a {
      color: $title-color;
    }
  }
  h4 {
    @include title-type();
    color: $title-color;
    font-size: 24px;
    a {
      color: $title-color;
    }
  }
  > .row {
    margin-bottom: unit-space(4);
  }
  .centered-cols {
    text-align: center;
  }
}
