.content-section {
  @extend .container;
  padding-top: unit-space(2);
  margin-top: unit-space(2);
  // @include dots-footer(center);

  header {
    @include clearfix();
    margin-bottom: unit-space(4);
    &:before {
      content: '';
      background: $bright-color;
      height: 40px;
      width: 40px;
      border-radius: 100px;
      display: inline-block;
      float: left;
      margin-right: unit-space(1);
    }
    h2 {
      background: $bright-color;
      border-radius: 100px;
      color: #fff;
      padding: 0 unit-space(2);
      display: inline-block;
      height: 40px;
      box-sizing: border-box;
      font-size: 24px;
      line-height: 40px;
      a {
        color: #fff;
      }
    }
    p {
      float: right;
      line-height: 40px;
      margin: 0;
    }
  }

  &.alt {
    header {
      h2 {
        background-color: $bright-color-alt;
      }
      &:before {
        background-color: $bright-color-alt;
      }
    }
  }

  h3 {
    color: $main-color;
  }

  h4 {
    @include title-type();
    line-height: 30px;
    color: $title-color;
    font-size: 24px;
    a {
      color: $title-color;
    }
  }
  > .row {
    margin-bottom: unit-space(2);
  }
  .centered-cols {
    text-align: center;
  }

  p {
    a {
      color: $title-color;
      border-bottom: 2px dotted $action-color;
    }
  }

  .video-card {
    margin-bottom: unit-space(2);
    box-sizing: border-box;
    &.is-future {
      .button {
        margin-top: unit-space(1);
        background: $alt-color;
      }
    }
     &.is-past {
      .button {
        margin-top: unit-space(1);
      }
    }
  }

  .read-more {
    @include body-copy();
    text-transform: uppercase;
    text-decoration: none;
    color: $action-color;
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-align: right;
    margin-top: unit-space(2);
    border: none;
  }
  img {
    max-width: 100%;
  }
}
