.content-section {
  @extend .container;
  padding-top: unit-space(1);
  margin-top: unit-space(1);
  text-align: center;

  header {
    @include clearfix();
    margin-bottom: unit-space(1);
    @include tablet() {
      margin-bottom: unit-space(2);
    }
    h2 {
      border-bottom: 2px solid $alt-color;
      color: $action-color;
      text-transform: none;
      display: inline-block;
      box-sizing: border-box;
      font-size: 18px;
      padding-bottom: 5px;
      margin: 0 auto;
      a {
        color: $main-color;
      }
    }
    p {
      float: right;
      line-height: 40px;
      margin: 0;
    }
  }

  h3, h6 {
    color: $main-color;
  }

  h4 {
    @include title-type();
    text-transform: none;
    line-height: 24px;
    color: $title-color;
    font-size: 20px;
    a {
      color: $title-color;
    }
  }
  > .row {
    margin-bottom: unit-space(2);
  }
  .centered-cols {
    text-align: center;
  }

  p {
    a {
      color: $title-color;
      border-bottom: 2px dotted $action-color;
    }
  }

  .video-card {
    margin-bottom: unit-space(2);
    box-sizing: border-box;
    &.is-future {
      .button {
        margin-top: unit-space(1);
        background: $alt-color;
      }
    }
     &.is-past {
      .button {
        margin-top: unit-space(1);
      }
    }
  }

  .read-more {
    @include body-copy();
    text-transform: uppercase;
    text-decoration: none;
    color: $action-color;
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-align: right;
    margin-top: unit-space(2);
    border: none;
  }
  img {
    max-width: 100%;
  }
}
