.app-footer {
  background: $main-color;
  padding: unit-space(4) 0;
  margin-top: unit-space(3);
  color: #fff;

  .links {
    a {
      @include title-type();
      color: #fff;
      text-decoration: none;
      font-size: 24px;
    }
  }
  p {
    margin-top: unit-space(2);
    font-size: 18px;
    line-height: 27px;
  }
}
.this-dot-dot {
  @extend .this-dot-logo;
  background-image: url(images/this-dot-o.svg);
  width: 162px;
  height: 158px;
}
