.app-footer {
  background: $main-color;
  padding: unit-space(3) 0 unit-space(1) 0;
  margin-top: unit-space(3);
  color: #fff;

  .row {
    border-top: 2px solid lighten($main-color, 5);
    padding-top: unit-space(1);
    padding-bottom: unit-space(1);
    @include desktop() {
      padding-top: unit-space(2);
      padding-bottom: unit-space(2);
    }
    p {
      margin: 0;
    }
    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }
  .logo-column {
    margin: unit-space(1) 0;
    @include tablet() {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 0;
    }
  }

  .links {
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      margin: 0 unit-space(0.5);
    }
    .social {
      @include tablet() {
        float: right;
      }
    }
  }
  .legal {
    border: none;
    padding-top: 0;
    font-size: 16px;
  }
}
