.app-footer {
  background: $main-color;
  padding: unit-space(4) 0;
  margin-top: unit-space(3);
  color: #fff;

  h3 {
    a {
      @include title-type();
      color: #fff;
      text-decoration: none;
      font-size: 24px;
    }
  }
}
.this-dot-dot {
  @extend .this-dot-logo;
  background-image: url(images/this-dot-o.svg);
  width: 142px;
  height: 80px;
  @include tablet() {
    margin-top: 67px
  }
}
.links {
  @include title-type();
  border-top: 1px solid #fff;
  margin-top: unit-space(1);
  a {
    text-transform: uppercase;
    color: #fff;
    margin: unit-space(1);
  }
  font-size: 18px;
}
