.subscribe {
  padding-top: unit-space(4);
  .input-group {
    @include title-type();
    font-size: 24px;

    @include tablet() {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .input-button {
      flex-shrink: 0;
      .input-text {
        border-color: $action-color;
      }
      .button {
        background: $action-color;
      }
      @include tablet() {
        margin-left: unit-space(2);
        .input-text {
          min-width: 250px;
        }
      }
    }
  }

  .message {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 20px;
    color: darken($alt-color, 10);
  }
}

.home-slider {
  .slide {
    min-height: 70vh;
    a {
      color: #fff;
    }
    .read-more {
      border-bottom: 2px dotted $action-color;
    }
  }
}

.image-logo-tile {
  background: lighten($alt-color, 32);
}
