.subscribe {
  padding-top: unit-space(4);

  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    @include title-type();

    .input-button {
      flex-shrink: 0;
      .input-text {
        border-color: $action-color;
      }
      .button {
        background: $action-color;
      }
      @include tablet() {
        margin-left: unit-space(2);
        .input-text {
          min-width: 250px;
        }
      }
    }
  }

  .message {
    font-size: 12px;
    text-align: center;
  }
}

.home-slider {
  .slide {
    height: 70vh;
    a {
      color: #fff;
    }
    .read-more {
      border-bottom: 2px dotted $action-color;
    }
  }
}

.image-tile-modernweb {
  background: rgba($alt-color, 0.35);
}
.image-tile-gem {
  background: rgba($bright-color-alt, 0.35);
}
.image-tile-rxw {
  background: rgba($bright-color, 0.35);
}
