.labs-challenges {
  background: lighten($calm-color, 10);
  .container {
    padding-top: unit-space(2);
    padding-bottom: unit-space(2);
    min-height: 70vh;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
  }
  h2 {
    color: $action-color;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: unit-space(3);
  }
  p {
    margin-bottom: unit-space(1);
    border-left: 2px dotted $action-color;
    padding-left: unit-space(1);
    font-size: 23px;
    line-height: 27px;
  }
}

.labs-always {
  padding: unit-space(4) 0;
  aside {
    img {
      max-width: 100%;
      margin-bottom: unit-space(1);
    }
  }
}

.labs-source {
  text-align: center;
  padding: unit-space(4) 0 0 0;
  @include dots-footer(center);
  &:after {
    margin-top: unit-space(4);
  }

  @include tablet() {
    background: url(images/source-left.svg) no-repeat 0 center, url(images/source-right.svg) no-repeat right center;
    background-size: 15%;
  }
  @include desktop {
    background-size: 20%;
  }
  h2 {
    color: $action-color;
  }
  .row {
    justify-content: center;
  }
}

.labs-success {
  padding: unit-space(4) 0 0 0;
  @include dots-footer(center);
  &:after {
    margin-top: unit-space(4);
  }
}

.labs-together {
  padding: unit-space(4) 0;
  text-align: center;
  @include dots-footer(center);
  h2 {
    color: $action-color;
    text-align: center;
    margin-bottom: unit-space(2);
  }
  .row {
    justify-content: center;
    text-align: left;
  }
  .service-box {
    margin-bottom: unit-space(2);
  }
  h3 {
    @include title-type();
    font-size: 24px;
    color: $main-color;
    margin-bottom: unit-space(1);
  }
}

.contact-button-section {
  text-align: center;
}

.button.contact-button {
  background: $action-color;
  font-size: 36px;
  padding: unit-space(1) unit-space(3);
  margin: unit-space(2) 0;
}
