.labs-description {
  margin-top: unit-space(1);
}

.contact-button-section {
  text-align: center;
}

.button.contact-button {
  background: $action-color;
  font-size: 21px;
  padding: 10px unit-space(1);
  margin: unit-space(2) 0;
}

.labs-always {
  .row {
    justify-content: center;
    @include desktop() {
      justify-content: flex-start;
    }
    @include mobileOnly() {
      img {
        margin-top: unit-space(1);
      }
    }
  }
}

.labs-clients {
  text-align: center;
  margin-bottom: 2em;
  h2 {
    text-align: center;
    margin-bottom: 2em;
  }
  img {
    max-width: 100%;
  }
  .logo-list {
    justify-content: space-around;
    align-items: center;
    li {
      padding: unit-space(1) unit-space(2);
      @include desktop() {
        padding: unit-space(1) unit-space(4);
      }
      @include mobileOnly() {
        max-width: 50%;
        padding: 20px;
      }
    }
    img {
      max-width: 100%;
    }
    p {
      display: none;
    }
  }
}

.labs-makers {
  @include tablet() {
    text-align: left;
  }
}

.labs-services {
  margin-top: unit-space(2);
  @include tablet() {
    margin-top: 0;
    h2 {
      text-align: left;
    }
  }
  li {
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: left;
    a {
      color: #626D8E;
      border-radius: 20px;
      padding: 5px 0;
      display: block;
      font-weight: bold;
      margin-right: 10px;
    }
    &:after {
      content: '';
      @include makeLogo('images/arrow-right.svg', 10px, 30px);
    }
  }
}
