.large-header {
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: unit-space(2);
  margin-bottom: unit-space(2);
  text-align: center;
  text-transform: none;
  color: $main-color;

  @include tablet() {
    font-size: 40px;
    line-height: 62px;
  }
  
  .sub-title {
    margin-top: unit-space(0.5);
    color: #F46663;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 20px;
    line-height: 28px;
    
    @include tablet() {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.logo-list {
  justify-content: space-around;
  align-items: center;
  li {
    padding: unit-space(1) unit-space(2);
    @include desktop() {
      padding: unit-space(1) unit-space(4);
    }
    @include mobileOnly() {
      max-width: 50%;
      padding: 20px;
    }
  }
  img {
    max-width: 100%;
  }
  p {
    display: none;
  }
}

.landing-section {
  margin-top: unit-space(2);
  margin-bottom: unit-space(2);
  @include desktop() {
    margin-top: unit-space(4);
    margin-bottom: unit-space(4);
  }
}

.landing-body {
  ul {
    padding-left: unit-space(1);
    li {
      margin: unit-space(0.5) 0;
      &:before {
        content: '';
        width: 4px;
        height: 4px;
        display: block;
        background: $dark-alt-color;
        float: left;
        margin-left: -15px;
        margin-top: 12px;
      }
    }
  }
}

.landing-contact {
  .contact-form {
    margin: unit-space(1) 0;
    padding: unit-space(1);
    background: lighten($alt-color, 30);
    border-radius: 5px;
    p {
      margin-top: 0;
    }
  }
  .input-text {
    border: none;
  }
  label {
    display: block;
    width: 100%;
    margin: unit-space(1) 0 unit-space(0.5) 0;
    font-weight: bold;
  }
  .button {
    background: $action-color;
    margin-top: unit-space(1);
    display: block;
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 0 unit-space(1);
  }
}

.clients-section {
  border-top: 2px solid lighten($alt-color, 20);
  border-bottom: 2px solid lighten($alt-color, 20);
  padding: unit-space(2) 0;
  text-align: center;
  h3 {
    color: $alt-color;
  }
}
