.section-description {
  text-align: center;
  .row {
    justify-content: center;
  }
  p {
    text-align: center;
    display: inline;
    color: $action-color;
    border-bottom: 2px solid $calm-color;
    padding-bottom: 2px;
    font-weight: bold;
  }
}

.section-properties {
  .row {
    justify-content: space-around;
    @include tablet() {
      margin-top: unit-space(2);
    }
  }
  .property {
    h3 {
      border-bottom: 1px solid $alt-color;
      padding: unit-space(1) 0;
      a {
        display: flex;
        height: 66px;
        flex-flow: column nowrap;
        justify-content: center;
        background: url(images/arrow-right.svg) no-repeat;
        background-position: right center;
        padding-right: 20px;
        box-sizing: border-box;
        background-size: 17px 33px;
      }
    }
  }
}
