<img src="/assets/images/labs-art.svg" alt="This Dot Labs">
<section class="container section-description labs-description">
  <div class="row">
    <div class="col-md-5">
      <p>
        Empower your team to boldly build for the web platform.
      </p>
    </div>
  </div>
</section>

<section class="content-section labs-always">
  <h2>Always improve,<br> always succeed.</h2>
  <div class="row">
    <div class="col-lg-5">

      <p>
        Whether your company is revolutionizing your industry or
        modernizing your technology, you don't have to trade technical
        excellence for confidence. We give you both.
      </p>
      <p>
        This Dot provides teams with technical leaders who bring deep knowledge
        of the web platform. We help teams set new standards, and deliver results predictably.
      </p>
      <p>
        Delight your customers and, without trial and error, get it right the first time.
      </p>
    </div>
    <aside class="col-lg-6 push-md-1">
      <img src="/media/ben-tracy.png" alt="Ben and Tracy on stage at Netflix" />
    </aside>
  </div>
</section>

<section class="content-section labs-source">
  <div class="row">
    <div class="col-md-12 col-lg-5">
      <h2>The makers</h2>
      <p>
        We connect enterprise with leaders building the web platform.
      </p>
      <p>
        Our team built applications that set new standards for delightful user experiences.
      </p>
      <p>
        Have confidence in working with a team who is leading the evolution of the web platform.
      </p>
    </div>
    <div class="col-md-12 col-lg-5 push-lg-1">
      <h2 class="labs-title">
        Services we offer
      </h2>
      <ul class="labs-services">
        <li>
          {{#link-to 'labs.info-page' 'mentoring'}}
            Mentoring
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'labs.info-page' 'consulting'}}
            Consulting
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'labs.info-page' 'training'}}
            Training
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'labs.info-page' 'application-upgrade'}}
            Application Upgrades
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'labs.info-page' 'technical-assessment'}}
            Technical Assessment
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'labs.info-page' 'excellence-training'}}
            Technical Excellence Training
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="content-section labs-clients">
  <h2>Our Clients</h2>
  <ul class="logo-list row">
    <li class="col-md-4">
      <img src="/media/clients/standard-chartered.png" alt="Standard Chartered" />
      <p>Standard Chartered</p>
    </li>
    <li class="col-md-4">
      <img src="/media/clients/deloitte.png" alt="Deloitte" />
      <p>Deloitte</p>
    </li>
    <li class="col-md-4">
      <img src="/media/clients/freshbooks.png" alt="Freshbooks" />
      <p>Freshbooks</p>
    </li>
    <li class="col-md-4">
      <img src="/media/clients/cvs-health.png" alt="CVS Health" />
      <p>CVS Health</p>
    </li>
    <li class="col-md-4">
      <img src="/media/clients/hedgeserv.png" alt="hedgeserv" />
      <p>hedgeserv</p>
    </li>
    <li class="col-md-4">
      <img src="/media/clients/drg.png" alt="DRG" />
      <p>DRG</p>
    </li>

    <li class="col-md-4">
      <img src="/media/clients/wintac.jpg" alt="Wintac" />
      <p>Wintac</p>
    </li>
    <li class="col-md-4">
      <img src="/media/clients/locus-energy.png" alt="Locus Energy" />
      <p>Locus Energy</p>
    </li>
  </ul>
</section>
