<h1>About</h1>

<h2>About This.Media</h2>

<h3>
  insert info here
</h3>

<h2>About This.Labs</h2>

<h2>Co-Founders</h2>

<h3>
  insert info here
</h3>

<h3>
  <ul>
    <li>Taras Mankovski</li>
    <li>Tracy Lee</li>
    <li>Ben Lesh</li>
    <li>Mike Auty</li>
  </ul>
</h3>

<h2>
  Mentors
</h2>
<h3>Balint Erdi</h3>
<h3>Jay Phelps</h3>

<h2>
  Founding Team
</h2>

<h3>
  <ul>
    <li>Jorge Lainfiesta</li>
    <li>Sarah Rech</li>
  </ul>
</h3>

<h3>
  Link to Friends
</h3>
