<section class="section-description">
  <p>
  This Dot Team
  </p>
</section>
<section class="container about-section">

  <h2>Mentors</h2>
  <ul class="row people-list">
    {{#each model.mentors as |mentor|}}
      {{mentor-card mentor=mentor tagName="li" class="col-md-6"}}
    {{/each}}
  </ul>
</section>

<section class="container about-section">
  <h2>Co-Founders</h2>
  <ul class="row people-list">
    {{#each model.founders as |founder|}}
      {{mentor-card mentor=founder tagName="li" class="col-md-6"}}
    {{/each}}
  </ul>
</section>

<section class="container about-section">
  <h2>Team</h2>
  <ul class="row people-list">
    {{#each model.team as |person|}}
      {{mentor-card mentor=person tagName="li" class="col-md-6"}}
    {{/each}}
  </ul>
</section>

<section class="container about-section">
  <div class="col-md-6">
    <h2>We're hiring</h2>
    <p>
      Want to work with us? Whether you have 10 hours to spare or want to do awesome things with us full time, email your info
      <a href="mailto:hi@thisdot.co">here</a>.
    </p>
  </div>
</section>
