{{nav-bar}}

{{outlet}}

<footer class="app-footer">
  <div class="container">
    <div class="row">
      <div class="push-md-3 col-md-9">
        <h2 class="this-dot">
          {{#link-to 'home' classNames="thisdot-contrast"}}
            This Dot
          {{/link-to}}
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3  logo-column">
        {{#link-to 'media' class="thisdot-media"}}
          Media
        {{/link-to}}
      </div>
      <div class="col-md-9">
        <p>
          We host events, produce videos and write articles that help
          developers keep up with the evolution of the web platform.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 logo-column">
        {{#link-to "labs" class="thisdot-labs"}}
          Labs
        {{/link-to}}
      </div>
      <div class="col-md-9">
        <p>
          We provide web platform expertice to teams through mentoring, training
          and apprenticeship services. Our mentors are makers of modern web
          frameworks like React, Angular and Polymer.
        </p>
      </div>
    </div>

    <div class="links row">
      <div class="col-md-9 push-md-3">
        {{#link-to 'about'}}Team{{/link-to}}
        {{#link-to 'privacy-policy'}}Privacy Policy{{/link-to}}
        {{#link-to 'contact'}}Contact{{/link-to}}
        {{#link-to 'sponsors'}}Sponsors{{/link-to}}
        <div class="social">
          <a href="https://twitter.com/thisdotmedia" target="_blank">
            <i class="icon twitter-icon">Twitter</i>
          </a>
          <a href="https://facebook.com/thisdot" target="_blank">
            <i class="icon fb-icon">Facebook</i>
          </a>
        </div>
      </div>
    </div>
    <div class="row legal">
      <div class="col-md-9 push-md-3">
        <p>
          &copy; {{moment-format (now) 'YYYY'}} This Dot, Inc. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
