{{nav-bar}}
{{outlet}}

<footer class="app-footer">
  <div class="wrap row">
    <h2 class="this-dot-dot">This Dot</h2>
    <nav>
      <div class="links">
        <a href="#">Media</a>
        <a href="#">Labs</a>
        <a href="#">About</a>
        <a href="#">Partners</a>
      </div>
      <p>
        We are a framework agnostic agency that believes in enabling teams to become better developers. Focused on working with companies to build ambitious web applications with modern web techniques and strategies.
      </p>
    </nav>
  </div>
</footer>
