<h1>Apprenticeship</h1>

<h2>Apprenticeship for companies</h2>

<h3>List out the pricing packages here</h3>

<h2>Apply to be an apprentice</h2>

<h3>Help people understand what it means to be an apprentice here</h3>

<h3>Note: I do think we need to somehow differentiate between these two.</h3>

<h2>Testimonials</h2>

<h3>Quotes and highlights from clients, apprentices</h3>

<h2>Typical program</h2>

<h3>Lay out what a typical program looks like</h3>

<h2>Other Services</h2>

<h3>{{#link-to 'mentorship'}}Mentorship{{/link-to}} | {{#link-to 'consulting'}}Consulting{{/link-to}}</h3>

<h2>Client List</h2>
