<section class="content-section careers">
  <header>
    <h2>WE'RE HIRING</h2>
  </header>
  <div class="row">
    <p>
      We're a team of open source aficionados who believe the web is more than one framework or browser. With our expertise & experience we strive to help our clients improve & succeed.
    </p>
  </div>

  <header><h2>Responsibilities</h2></header>
  <div class="row career-details">
    <ul>
      <li>Mentor developers via guidance, pair programming & code reviews.</li>
      <li>Build high quality code.</li>
      <li>Conduct technical excellence trainings.</li>
    </ul>
  </div>

  <header><h2>What we offer</h2></header>
  <div class="row career-details">
    <ul>
      <li>Competitive salary.</li>
      <li>Reasonable work hours that gives you more time everyday to focus on things outside work that you enjoy.</li>
      <li>Chance to work with world class experts who value being nice to their coworkers more than the work we do.</li>
    </ul>
  </div>

  <header>
    <h2>Open Positions</h2>
  </header>
  <div class="row career-details">
    <header><h2>Software Developer</h2></header>

      Intermediate & Senior React.JS developers in India to work with us at Bangalore. Relocation bonus is available if you're located in other parts of India.
      <p><a href="mailto:hi@thisdot.co">Get in touch!</a></p>
  </div>

</section>