<h1>Consulting</h1>

<h2>Receive unbiased feedback on how you are building your application because we are framework agnostic. We advise companies based on their projects and what is best for them versus the technology stack</h2>
<h2>Other Services</h2>

<h3>{{#link-to 'mentorship'}}Mentorship{{/link-to}} | {{#link-to 'consulting'}}Consulting{{/link-to}}</h3>

<h2>Client List</h2>
