<section class="contact-title">
  <div class="container">
    <h2>
      Contact
    </h2>
  </div>
</section>

<section class="content-section contact-section">
  {{contact-form class="contact-form col-lg-6"}}
</section>
