<section class="contact-title">
  <div class="container">
    <h2>
      Contact
    </h2>
  </div>
</section>

<section class="content-section contact-section">
  <p class="col-lg-6">
    Have a project you need help with? Looking for advice on frameworks? Just want to talk? Send us a note and we'll get back
    to you asap.
  </p>
  {{contact-form page="Contact Us" class="contact-form col-lg-6"}}
</section>