<section class="content-section contact-section">
  <div class="row">
    <div class="col-lg-6">
      <h2>
        Contact
      </h2>
      <p>
        Have a project you need help with? Looking for advice on frameworks? Just want to talk? Send us a note and we'll get back to you asap.
      </p>
      {{contact-form class="contact-form" page="Contact Us"}}
    </div>
    <div class="col-lg-4 push-lg-1">

      <h3>Silicon Valley</h3>
      <div class="vcard">
        <div class="org hide">This Dot, Inc</div>
        <a class="email hide" href="mailto:hi@thisdot.co">hi@thisdot.co</a>
        <div class="adr">
          <div class="street-address">PO BOX 2254</div>
          <span class="locality">Cupertino</span>,
          <span class="region">California</span> <br>
          <span class="postal-code">95015</span>
          <span class="country-name hide">USA</span>
        </div>
        <div class="tel hide">+1 4085069660</div>
        <div class="url hide">https://www.thisdot.co/</div>
      </div>

      <h3>Raleigh</h3>
      <div class="vcard">
        <div class="org hide">This Dot, Inc</div>
        <a class="email hide" href="mailto:hi@thisdot.co">hi@thisdot.co</a>
        <div class="adr">
          <div class="street-address">310 S Harrington Street</div>
          <span class="locality">Raleigh</span>,
          <span class="region">North Carolina</span> <br>
          <span class="postal-code">27603</span>
          <span class="country-name hide">USA</span>
        </div>
        <div class="tel hide">+1 4085069660</div>
        <div class="url hide">https://www.thisdot.co/</div>
      </div>


      <div class="vcard phone-card">
        <div class="org hide"> This Dot, Inc</div>
        <a class="email" href="mailto:hi@thisdot.co">hi@thisdot.co</a> <br>
        <a class="tel" href="tel:+14085069660">+1 4085069660</a>
      </div>

    </div>
  </div>
</section>