<section class="content-section contact-section">
  <h2>
    Contact
  </h2>
  <div class="row">
    <p class="col-lg-6">
      Have a project you need help with? Looking for advice on frameworks? Just want to talk? Send us a note and we'll get back to you asap.
    </p>
  </div>
  <div class="row">
    {{contact-form class="contact-form col-lg-6"}}
  </div>
</section>
