<h1>Easter Eggs</h1>

<h2>
  This is a list of ember addon easter eggs we have made for the site. Maybe even the npm list that allows you to use these easter eggs in different frameworks (or is just polymer?)
</h2>
