<section class="slider">
  <div class="slide">
    <div class="wrap">
      <h2>Latest ember news</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus.
      </p>
    </div>
  </div>
</section>

<section class="subscribe wrap row">
  Don’t miss an event or video
  <form class="input-button">
    <input type="email" name="email" value="" placeholder="Your Email Address" class="input-text">
    <button type="button" name="button" class="button">Join</button>
  </form>
</section>
