<section class="slider">
  <div class="slide">
    <div class="container">
      <h2>Latest ember news</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus.
      </p>
    </div>
  </div>
</section>

<section class="subscribe row">
  Don’t miss an event or video
  <form class="input-button">
    <input type="email" name="email" value="" placeholder="Your Email Address" class="input-text">
    <button type="button" name="button" class="button">Join</button>
  </form>
</section>

<section class="content-section">
  <header>
    <h2>This.Media</h2>
    <p class="subtitle">
      The news resource for modern web technologies
    </p>
  </header>

  <div class="row">
    <div class="col-md">
      <span class="image-placeholder tall"></span>
    </div>
    <div class="col-md">
      <h3>Featured Video</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus. Vestibulum at pellentesque tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <a href="#" class="read-more">Read more</a>
    </div>
  </div>

  <div class="row centered-cols">
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Ember Show</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus. Vestibulum at pellentesque tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Modern.web</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus. Vestibulum at pellentesque tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Modern.podcast</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus. Vestibulum at pellentesque tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </div>

</section>
