<div class="container-wrap">
  <header class="container">
    <div class="titles">
      <h1 class="logo">This Dot</h1>
      <h2>Growing the modern web technology stack.</h2>
    </div>
  </header>

  <section class="container subscribe">
    {{ember-chimp label="Subscribe"
        placeholder="Your Email Here"
        formAction="//embersherpa.us12.list-manage.com/subscribe/post?u=81e8e3fa2a6f79fe97467029a&amp;id=9f8c1ada95"
        buttonText="Submit"
        loadingText="Loading"
    }}
    <p class="questions"><a href="mailto:hi@thisdot.co">Got questions?</a></p>      
  </section>
</div>
