<div class="container-wrap">
  <header class="container">
    <div class="titles">
      <h1 class="logo">This Dot</h1>
      <h2>Growing the modern web technology stack.</h2>
    </div>
  </header>

  <section class="container subscribe">
    {{ember-chimp label="Subscribe"
        placeholder="Your Email Here"
        formAction="//computer.us11.list-manage.com/subscribe/post?u=6e62b74d002f42a0e5350892e&amp;id=4e7effa6bd"
        buttonText="Submit"
        loadingText="Loading"
    }}
  </section>
</div>
