<section class="labs-challenges">
  <div class="container">
    <h2 class="col-lg-8">Conquer Challenges <br> Build with Confidence</h2>
    <div class="col-lg-5">
      <p>
        <strong>Empower</strong> your team to boldly use modern web technology.
      </p>
      <p>
        <strong>Remove uncertainty</strong> from decision making.
      </p>
      <p>
        <strong>Strengthen</strong> your team.
      </p>
    </div>
  </div>
</section>

<section class="container labs-always content-section">
  <h2>Always improving,<br> always succeeding</h2>
  <div class="row">
    <div class="col-lg-5">

      <p>
        Whether you’re revolutionizing your industry, or catching up, we believe you don’t have to choose between technical excellence and confidence. We always bring a measure of both. Together we’ll set the new standard, and deliver it predictably.
      </p>
      <p>
        This Dot brings technical leaders, engineering culture transformation and provides modern web application advice. We help our clients become web technology leaders. We transform development organizations to teams that delight their customers. Without trial and error, get it right the first time.
      </p>
    </div>
    <aside class="col-lg-6 push-md-1">
      <img src="media/ben-tracy.png" alt="" />
    </aside>
  </div>
</section>

<section class="container labs-source">
  <div class="row">
    <div class="col-md-8 col-lg-5">
      <h2>The source</h2>
      <p>
        We connect enterprise with thought leaders who’re building the modern web stack.
      </p>
      <p>
        We created the applications that set the new standard for delightful user experiences. Everything we learned, we contribute to open source libraries that are used to create modern web applications. We contributed to Ember.js, Angular 2 and React frameworks.
      </p>
      <p>
        You can read what we write and work with the team who’s leading the evolution of the web technology platform.
      </p>
    </div>
  </div>
</section>

<section class="container labs-success">
  <h2>Ensure Success</h2>
  <div class="row">
    <p class="col-md-5">
      <i class="icon teams"></i>
      We help our clients all over the world transform their engineering teams to creators of award winning frontend user experiences.`
    </p>
    <p class="col-md-6">
      <i class="icon bank"></i>
      We helped a financial institution set the new standard for online business banking.
    </p>
    <p class="col-md-5">
      <i class="icon open"></i>
      We bring everything we learned in open source communities to in-house teams. The conventions that we establish increase team productivity, increase velocity and ensure successful delivery, the first-time around.
    </p>
    <p class="col-md-6">
      <i class="icon energy"></i>
      We worked with a company in the energy sector to revolutionize how their customers interact with data gathered by their monitoring platform.The engineering culture that we established allowed the company to quadruple in size while delivering an ambitious re-imagining of the organization’s entire web platform.
    </p>
  </div>
</section>

<section class="container labs-together">
  <h2>Together at every stage</h2>
  <div class="row">
    <div class="col-md-5 col-lg-4 service-box">
      <h3>UI/UX Architecture</h3>
      <ul>
        <li>Feasibility Review</li>
        <li>Style Guide Planning</li>
        <li>Accessibility Planning</li>
        <li>Framework Selection</li>
        <li>Security Considerations</li>
        <li>Design Iteration Feedback</li>
      </ul>
    </div>
    <div class="col-md-5 col-lg-4 service-box">
      <h3>API Design</h3>
      <ul>
        <li>Contract negotiation</li>
        <li>Security considerations</li>
        <li>Performance planning</li>
      </ul>
    </div>
    <div class="col-md-5 col-lg-4 service-box">
      <h3>Implementation</h3>
      <ul>
        <li>Feature Sizing</li>
        <li>Feature Prioritization</li>
        <li>Epic Integrity Review</li>
        <li>Code Reviews</li>
        <li>Team Augmentation Staffing</li>
      </ul>
    </div>
    <div class="col-md-5 col-lg-4 service-box">
      <h3>Training</h3>
      <ul>
        <li>Frontend development training</li>
        <li>Framework specific training</li>
        <li>Online and remote training</li>
        <li>Skill set gap analysis</li>
        <li>Implementation specific pair programming</li>
      </ul>
    </div>
  </div>
  {{link-to 'Contact Us' 'contact' classNames="button"}}
</section>
