<section class="labs-challenges">
  <div class="container">
    <div class="row">
      <h2 class="col-lg-8">Conquer Challenges, <br> Build with Confidence</h2>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <p>
          <strong>Empower</strong> your team to boldly use modern web technology.
        </p>
        <p>
          <strong>Remove uncertainty</strong> from decision making.
        </p>
        <p>
          <strong>Strengthen</strong> your team.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="content-section labs-always">
  <h2 class="labs-title">Always improve,<br> always succeed.</h2>
  <div class="row">
    <div class="col-lg-5">

      <p>
        Whether your company is focused on revolutionizing the industry or playing catch up, you shouldn't have to compromise technical excellence or confidence. This Dot brings a measure of both. We help teams and industry set new standards, and deliver results predictably.
      </p>
      <p>
        This Dot provides teams with technical leaders. We believe in teaching teams to have positive engineering cultures and bring modern web application knowledge to developers.
      </p>
      <p>
        Delight your customers and, without trial and error, get it right the first time.
      </p>
    </div>
    <aside class="col-lg-6 push-md-1">
      <img src="media/ben-tracy.png" alt="" />
    </aside>
  </div>
</section>

<section class="content-section labs-source">
  <div class="row">
    <div class="col-md-8 col-lg-5">
      <h2 class="labs-title">The source</h2>
      <p>
        We connect enterprise with leaders building the current modern web stack.
      </p>
      <p>
        Our team has created applications that have set the new standard for delightful user experiences.
      </p>
      <p>
        We utilize everything we learned in contributing to open source libraries to help enable our clients to execute on their projects better and faster.
      </p>
      <p>
        Have confidence in working with a team who is leading the evolution of the web technology platform.
      </p>
    </div>
  </div>
</section>

<section class="content-section labs-together">
  <h2 class="labs-title">Together at every stage</h2>
  <div class="row">
    <div class="col-md-5 col-lg-4 service-box">
      <h3>UI/UX Architecture</h3>
      <ul>
        <li>Feasibility Review</li>
        <li>Style Guide Planning</li>
        <li>Accessibility Planning</li>
        <li>Framework Selection</li>
        <li>Security Considerations</li>
        <li>Design Iteration Feedback</li>
      </ul>
    </div>
    <div class="col-md-5 col-lg-4 service-box">
      <h3>API Design</h3>
      <ul>
        <li>Contract negotiation</li>
        <li>Security considerations</li>
        <li>Performance planning</li>
      </ul>
    </div>
    <div class="col-md-5 col-lg-4 service-box">
      <h3>Implementation</h3>
      <ul>
        <li>Feature Sizing</li>
        <li>Feature Prioritization</li>
        <li>Epic Integrity Review</li>
        <li>Code Reviews</li>
        <li>Team Augmentation Staffing</li>
      </ul>
    </div>
    <div class="col-md-5 col-lg-4 service-box">
      <h3>Training</h3>
      <ul>
        <li>Frontend development training</li>
        <li>Framework specific training</li>
        <li>Online and remote training</li>
        <li>Skill set gap analysis</li>
        <li>Implementation specific pair programming</li>
      </ul>
    </div>
  </div>
</section>

<section class="content-section labs-clients">
  <h2 class="labs-title">Our Clients Speak For Themselves</h2>
  <div class="logo-grid">
    <img class="logo-grid-item" src="/media/clients/cvs-health.png" alt="Wentao" />
    <img class="logo-grid-item" src="/media/clients/deloitte.png" alt="Deloitte" />
    <img class="logo-grid-item" src="/media/clients/hedgeserv.png" alt="hedgeserv" />
    <img class="logo-grid-item" src="/media/clients/drg.png" alt="DRG" />
    <img class="logo-grid-item" src="/media/clients/freshbooks.png" alt="Freshbooks" />
    <img class="logo-grid-item" src="/media/clients/wintac.jpg" alt="Wintac" />
    <img class="logo-grid-item" src="/media/clients/locus-energy.png" alt="Locus Energy" />
    <img class="logo-grid-item" src="/media/clients/standard-chartered.png" alt="Standard Chartered" />
  </div>
</section>

<section class="content-section">
  <h2 class="labs-title">Ensure Success</h2>
  <div class="row">
    <p class="col-md-5">
      <i class="icon teams"></i>
      With our global team, we help clients across the world enable their engineering teams to create award-winning front-end user experiences.`
    </p>
    <p class="col-md-6">
      <i class="icon bank"></i>
      We've helped a financial institution set the new standard for online business banking.
    </p>
    <p class="col-md-5">
      <i class="icon open"></i>
      We bring our learning from open source communities to in-house teams. The conventions we establish increase team productivity, increase velocity and ensure successful product delivery the first-time around.
    </p>
    <p class="col-md-6">
      <i class="icon energy"></i>
      We've helped a company in the energy sector revolutionize how their customers interact with data gathered by their monitoring platform. The engineering culture we helped establish allowed them to seamlessly quadruple in size and still deliver on an ambitious project of re-imagining their organization’s entire web platform.
    </p>
  </div>
</section>

<section class="contact-button-section">
  {{link-to 'Contact Us' 'contact' classNames="button contact-button"}}
</section>
