<img src="/assets/images/media-art.svg" alt="This Dot Media">
<section class="container section-description">
  <div class="row">
    <div class="col-md-5">
      <p>
        Strengthening the web platform through events and education.
      </p>
    </div>
  </div>
</section>

<section class="container section-properties">
  <div class="row">
    <div class="col-md-6 col-lg-5 property">
      <h3>
        <a href="https://news.thisdot.co">
          <span class="thisdot-publication">
            This Dot Publication
          </span>
        </a>
      </h3>
      <p>
        Thought-provoking writing from the makers of the web platform. Participate in the evolution by following our publication.
      </p>
    </div>
    <div class="col-md-6 col-lg-5 push-lg-2 property">
      <h3>
        <a href="https://www.youtube.com/thisdotmedia">
          <span class="thisdot-youtube">
            This Dot Youtube Channel
          </span>
        </a>
      </h3>
      <p>
        Videos about the cutting edge developments in the web platform. See the latest videos and presentations from our events.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-5 property">
      <h3>
        {{#link-to 'javascript.index'}}
          <span class="thisdotjs">
            This Dot Javascript
          </span>
        {{/link-to}}
      </h3>
      <p>
        Reporting on the latest improvements in the web platform. Connect with the makers of browsers and frameworks.
      </p>
    </div>
    <div class="col-md-6 col-lg-5 push-lg-2 property">
      <h3>
        <a href="https://www.rxworkshop.com">
          <span class="rxworkshop">
            Rx Wokrshop
          </span>
        </a>
      </h3>
      <p>
        In person and remote hands-on workshops from makers of RxJS. Learn reactive programming in Node and JavaScript.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-5 property">
      <h3>
        <a href="https://www.contributordays.com">
          <span class="contributor-days">
            Contributor Days
          </span>
        </a>
      </h3>
      <p>
        Day long events to foster and grow open source communities. Learn how you can contribute to your favorite framework.
      </p>
    </div>
    <div class="col-md-6 col-lg-5 push-lg-2 property">
      <h3>
        <a href="https://ngcruise.com">
          <span class="ng-cruise">
            Ng Cruise
          </span>
        </a>
      </h3>
      <p>
        Serving Angular and the Caribbean on a cruise to Bahamas. Learn about Angular and enjoy the ☀️ with us.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-5 property">
      <h3>
        <a href="https://moderndotweb.com">
          <span class="moderndotweb">
            Modern Dot Web
          </span>
        </a>
      </h3>
      <p>
        Events in Raleigh and the Bay Area about the web platform. Learn from others building modern web applications.
      </p>
    </div>
    <div class="col-md-6 col-lg-5">

    </div>
  </div>
</section>
