<section class="media-intro">
  <div class="container">
    <h2 class="col-lg-8">The news resource for modern web technologies.</h2>
    <div class="col-lg-5">
      <p>
        Celebrating the evolution of the frontend technology stack.
      </p>
    </div>
  </div>
</section>

<section class="media-verbs container">
  <p>
    <strong>Watch</strong>
    <strong>Engage</strong>
    <strong>Listen</strong>
    <strong>Learn</strong>
  </p>
</section>

<section class="content-section media-brands">
  <header>
    <h2>This.Brand</h2>
  </header>
  <div class="row centered-cols">
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4><a href="http://modern-web.org" target="_blank">Modern.Web</a></h4>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Modern.Podcast</h4>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4><a href="http://embermeetup.com" target="_blank">Ember Show</a></h4>
    </div>
  </div>
  <div class="row centered-cols">
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4><a href="http://ngcruise.com" target="_blank">Ng-Cruise</a></h4>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>React-Cruise</h4>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4><a href="http://embermeetup.com/gemconf" target="_blank">GlobalEmberMeetup - GEMconf</a></h4>
    </div>
  </div>
</section>

<section class="content-section alt media-content">
  <header>
    <h2>Modern.Web</h2>
  </header>
  <div class="row centered-cols">
    {{#each (filter-by 'brand' 'modern-web' model.posts) as |post|}}
      {{video-card post=post class="col-md-4"}}
    {{/each}}
  </div>
</section>

<section class="content-section media-content">
  <header>
    <h2>The ember show</h2>
  </header>
  <div class="row centered-cols">
    {{#each (filter-by 'brand' 'the-ember-show' model.posts) as |post|}}
      {{video-card post=post class="col-md-4"}}
    {{/each}}
  </div>
</section>
