<section class="media-intro">
  <div class="container">
    <div class="row">
      <h2 class="col-lg-8">Unifying the voice of the modern web.</h2>
    </div>
    <div class="row">
      <p class="col-lg-5">
        Celebrating the evolution of the frontend technology stack.
      </p>
    </div>
  </div>
</section>

<section class="media-verbs container">
  <p>
    <strong>Watch</strong>
    <strong>Engage</strong>
    <strong>Listen</strong>
    <strong>Learn</strong>
  </p>
</section>

<section class="content-section media-brands container">
  <header>
    <h2>Brands</h2>
  </header>
  <div class="row centered-cols">
    <div class="col-md">
      {{#link-to 'javascript'}}
       <img src="/media/this-dot-js.svg" alt="This Dot Javascript" class="image-logo-tile">
      {{/link-to}}
      <h4>This.Javascript</h4>
    </div>
    <div class="col-md">
      <a href="https://contributordays.com" target="_blank">
        <img src="/media/cd-logo.svg" alt="Contributor Days logo" class="image-logo-tile">
      </a>
      <h4><a href="https://contributordays.com" target="_blank">Contributor Days</a></h4>
    </div>
    <div class="col-md">
      <a href="https://ngcruise.com" target="_blank">
        <img src="/media/ng-cruise-logo.svg" alt="NG Cruise Logo" class="image-logo-tile">
      </a>
      <h4><a href="http://ngcruise.com" target="_blank">Ng-Cruise</a></h4>
    </div>
  </div>
  <div class="row centered-cols">
    <div class="col-md">
      <a href="http://modern-web.org" target="_blank">
        <img src="/media/modern-web-logo.svg" alt="Modern.Web Logo" class="image-logo-tile">
      </a>
      <h4>
        <a href="http://modern-web.org" target="_blank">Modern.Web</a>
      </h4>
    </div>
    <div class="col-md">
      <a href="https://www.rxworkshop.com" target="_blank">
      <img src="/media/rx-workshop-logo.svg" alt="Rx Workshop Logo" class="image-logo-tile">
      </a>
      <h4><a href="https://www.rxworkshop.com" target="_blank">Rx Workshop</a></h4>
    </div>
    <div class="col-md">
      <a href="https://www.embermeetup.com" target="_blank">
        <img src="/media/the-ember-show.svg" alt="The Ember Show Logo" class="image-logo-tile">
      </a>
      <h4><a href="http://www.embermeetup.com" target="_blank">The Ember Show</a></h4>
    </div>
  </div>
</section>

{{#scroll-to-parameter show}}
  <section class="content-section alt media-content">
    <header>
      <h2 id="thisdotjavascript">THIS.JAVASCRIPT</h2>
    </header>
    <div class="row centered-cols">
      {{#each (sort-by (action 'closerDateFirst') (filter-by 'brand' 'this-dot-js' model.posts)) as |post|}}
        {{video-card post=post class="col-md-3" actionLabel="Live stream"}}
      {{/each}}
    </div>
  </section>

  <section class="content-section media-content contributors-days-section">
    <header>
      <h2 id="thisdotjavascript">Contributor Days</h2>
    </header>
    <div class="row centered-cols">
      {{#each (sort-by (action 'closerDateFirst') (filter-by 'brand' 'contributors-days' model.posts)) as |post|}}
        {{video-card post=post class="col-md-4" actionLabel="Apply"}}
      {{/each}}
    </div>
  </section>

  <section class="content-section alt media-content">
    <header>
      <h2 id="moderndotweb">Modern.Web</h2>
    </header>
    <div class="row centered-cols">
      {{#each (filter-by 'brand' 'modern-web' model.posts) as |post|}}
        {{video-card post=post class="col-md-4"}}
      {{/each}}
    </div>
  </section>

  <section class="content-section media-content">
    <header>
      <h2 id="the-ember-show">The ember show</h2>
    </header>
    <div class="row centered-cols">
      {{#each (filter-by 'brand' 'the-ember-show' model.posts) as |post|}}
        {{video-card post=post class="col-md-4"}}
      {{/each}}
    </div>
  </section>

{{/scroll-to-parameter}}
