<h1>This.Media</h1>

<h2>
  The news resource for modern web frameworks, standards, and technologies. Celebrating the convergence and evolution of the frontend technology stack.
</h2>
<h2>
  We’ll provide education via training, online meetups, facilitate idea and code sharing with workshops and provide consulting services to support large organizations.
</h2>

<h1>
  This.Brand
</h1>
<h2>
  [{
       <ul>
         <li><a href="http://modern-web.org">Modern Web</a></li>
         <li><a href="http://embermeetup.com">Ember Show</a></li>
         <li><a href="http://ngcruise.com">Ng-Cruise</a></li>
         <li>React-Cruise</li>
         <li><a href="http://embermeetup.com/gemconf">GlobalEmberMeetup - GEMconf</a></li>
       </ul>
    }]
</h2>

<h2>
  Our Principles ( See, Engage, Listen, Learn )
</h2>
<h2>See</h2>

<h2>
  <ul>
    <li><a href="http://embermeetup.com/videos">GEMconf Videos</a></li>
    <li><a href="http://www.modern-web.org/#/modern-web-ui">Modern Web</a></li>
    <li>This.VarietyShow - I want this one to be very different and high quality produced content that people can watch. Only the best are posted here.</li>
    <li>This.JavaScript (link to our medium publication)</li>
    <li>Need to figure out how to make sure the reading portion of the site is emphasized without the video drowning it out.
    </li>
  </ul>
</h2>

<h2>Engage</h2>

<h2>
    <ul>
      <li>Rx Contributor Days</li>
      <li>Angular 2 Contributor Days</li>
      <li>React Contributor Days</li>
      <li>Rx Contributor Days</li>
      <li>React Cruise</li>
      <li>NG Cruise</li>
      <li>Community Events</li>
    </ul>
</h2>

<h2>Listen</h2>

<h2>Modern Web Podcast</h2>

<h2>Learn</h2>

<h2>Rx Workshop</h2>

<h2>Ember Workshops ( Introduction | Authentication vs Authorization )</h2>
