<img src="/assets/images/media-art.svg" alt="This Dot Media">
<section class="container section-description">
  <div class="row">
    <div class="col-md-5">
      <p>
        Strengthening the modern web platform through events and education.
      </p>
    </div>
  </div>
</section>

<section class="container section-properties">
  <div class="row">
    <div class="col-md-4 property">
      <h3>
        <a href="https://thisdot.co">
          <span class="thisdot-publication">
            This Dot Publication
          </span>
        </a>
      </h3>
      <p>
        Bringing  Bringing makers of frameworks, browser and libraries together.makers of frameworks, browser and libraries together.
      </p>
    </div>
    <div class="col-md-4 property">
      <h3>
        <a href="https://contributordays.com">
          <span class="contributor-days">
            Contributor Days
          </span>
        </a>
      </h3>
      <p>
        Bringing  Bringing makers of frameworks, browser and libraries together.makers of frameworks, browser and libraries together.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 property">
      <h3>
        {{#link-to 'javascript'}}
          <span class="thisdotjs">
            This Dot Javascript
          </span>
        {{/link-to}}
      </h3>
      <p>
        Bringing  Bringing makers of frameworks, browser and libraries together.makers of frameworks, browser and libraries together.
      </p>
    </div>
    <div class="col-md-4 property">
      <h3>
        <a href="https://moderndotweb.com">
          <span class="moderndotweb">
            Modern Dot Web
          </span>
        </a>
      </h3>
      <p>
        Bringing  Bringing makers of frameworks, browser and libraries together.makers of frameworks, browser and libraries together.
      </p>
    </div>
  </div>
</section>
