<section class="media-intro">
  <div class="container">
    <h2 class="col-lg-8">The news resource for modern web technologies.</h2>
    <div class="col-lg-5">
      <p>
        Celebrating the evolution of the frontend technology stack.
      </p>
    </div>
  </div>
</section>

<section class="content-section media-brands">
  <header>
    <h2>This.Brand</h2>
  </header>
  <div class="row centered-cols">
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4><a href="http://modern-web.org" target="_blank">Modern.Web</a></h4>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Modern.Podcast</h4>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4><a href="http://embermeetup.com" target="_blank">Ember Show</a></h4>
    </div>
  </div>
  <div class="row centered-cols">
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4><a href="http://ngcruise.com" target="_blank">Ng-Cruise</a></h4>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>React-Cruise</h4>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4><a href="http://embermeetup.com/gemconf" target="_blank">GlobalEmberMeetup - GEMconf</a></h4>
    </div>
  </div>
</section>

<section class="media-verbs container">
  <p>
    <strong>Watch</strong>
    <strong>Engage</strong>
    <strong>Listen</strong>
    <strong>Learn</strong>
  </p>
</section>

<section class="content-section alt media-content">
  <header>
    <h2>Modern.Web</h2>
  </header>
  <div class="row centered-cols">
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Modern.web</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus. Vestibulum at pellentesque tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Modern.web</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus. Vestibulum at pellentesque tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Modern.web</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus. Vestibulum at pellentesque tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </div>

  <h3>Video Archive</h3>
  <ul class="row list-archive">
    <li class="col-md-5">
      <a href="#" class="row">
        <span class="date col-md-2">Sep 27</span>
        <strong class="title">Security and Authentication</strong>
      </a>
    </li>
    <li class="col-md-5 push-md-1">
      <a href="#" class="row">
        <span class="date col-md-2">Sep 27</span>
        <strong class="title">Security and Authentication</strong>
      </a>
    </li>
    <li class="col-md-5">
      <a href="#" class="row">
        <span class="date col-md-2">Sep 27</span>
        <strong class="title">Security and Authentication</strong>
      </a>
    </li>
    <li class="col-md-5 push-md-1">
      <a href="#" class="row">
        <span class="date col-md-2">Sep 27</span>
        <strong class="title">Security and Authentication</strong>
      </a>
    </li>
  </ul>
</section>

<section class="content-section media-content">
  <header>
    <h2>This.Javascript</h2>
  </header>
  <div class="row centered-cols">
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Modern.web</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus. Vestibulum at pellentesque tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Modern.web</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus. Vestibulum at pellentesque tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="col-md">
      <span class="image-placeholder"></span>
      <h4>Modern.web</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus. Vestibulum at pellentesque tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </div>

  <h3>Video Archive</h3>
  <ul class="row list-archive">
    <li class="col-md-5">
      <a href="#" class="row">
        <span class="date col-md-2">Sep 27</span>
        <strong class="title">Security and Authentication</strong>
      </a>
    </li>
    <li class="col-md-5 push-md-1">
      <a href="#" class="row">
        <span class="date col-md-2">Sep 27</span>
        <strong class="title">Security and Authentication</strong>
      </a>
    </li>
    <li class="col-md-5">
      <a href="#" class="row">
        <span class="date col-md-2">Sep 27</span>
        <strong class="title">Security and Authentication</strong>
      </a>
    </li>
    <li class="col-md-5 push-md-1">
      <a href="#" class="row">
        <span class="date col-md-2">Sep 27</span>
        <strong class="title">Security and Authentication</strong>
      </a>
    </li>
  </ul>
</section>
