<h1>This.Media</h1>

<h2>
  The news resource for modern web technologies.
</h2>
<h2>
  Celebrating the evolution of the frontend technology stack.
</h2>

<h1>
  This.Brand
</h1>
<h2>
  [{
       <ul>
         <li><a href="http://modern-web.org">Modern.Web</a> (Events and High Quality Video Recordings)</li>
         <li>Modern.Podcast (High Quality Podcast)</li>
         <li><a href="http://embermeetup.com">Ember Show</a></li>
         <li><a href="http://ngcruise.com">Ng-Cruise</a></li>
         <li>React-Cruise</li>
         <li><a href="http://embermeetup.com/gemconf">GlobalEmberMeetup - GEMconf</a></li>
       </ul>
    }]
</h2>

<h1>
  Watch | Engage | Listen | Learn
</h1>

<h2>Modern.Web</h2>

<h4>Here should be a row of videos</h4>
<h1>----------------------------------------------------</h1>

<h2>Ember Show</h2>

<h4>Here should be a row of videos</h4>

<h1>----------------------------------------------------</h1>
<h2>Modern.Podcast</h2>

<h4>Here should be a row of podcasts</h4>

<h1>----------------------------------------------------</h1>

<h2>This.JavaScript</h2>

<h4>Here should be a row of podcasts</h4>

<h1>----------------------------------------------------</h1>

<h2>This.Events</h2>

<h4>Modern.Web - our bi-monthly meetups in the bay area</h4>
<h4>State of JavaScript - our quarterly online events in a discussion forum</h4>
<h4>Ember Show - our monthly online ember shows</h4>

<h1>----------------------------------------------------</h1>

<h1>Contributor Days</h1>

<h2>Explain contributor days here</h2>

<h2>
  <ul>
    <li>{{#link-to 'rx-days'}}Rx Contributor Days{{/link-to}}</li>
    <li>Angular 2 Contributor Days</li>
    <li>React Contributor Days</li>
    <li>Rx Contributor Days</li>
  </ul>
</h2>

<h1>----------------------------------------------------</h1>

<h1>Workshops</h1>

<h2>Rx Workshop</h2>

<h2>Ember Workshops ( Introduction | Authentication vs Authorization )</h2>
