<h1>Mentorship</h1>

<h2>Should we offer free pairing sessions? And if so, we can only really offer them for Rx, React and Ember right now. I might be able to get someone to do it in Angular 2 - shouldn't be that hard.</h2>

<h2>Need to list out the packages we offer for this</h2>

<h2>Contact us | Purchase now</h2>

<h2>Other Services</h2>

<h3>{{#link-to 'apprenticeship'}}Apprenticeship{{/link-to}} | {{#link-to 'consulting'}}Consulting{{/link-to}}</h3>

<h2>Client List</h2>
