<h1>Notes</h1>

<h2>
  We should have every page have something like, ‘export default’ and maybe even make our entire site look like a text editor.
</h2>

<h2>
  We could be really funny and every time the page loads, something that says “loading this” or something like that it’s like someone in atom typing with that plugin.
</h2>

<h1>Content Outline for site</h1>
<h2>
Because we are producing a lot of content and trying to list out quite a few things, we need to probably create a site similar to oreilly.com or mashable.com. The problem with these sites is that they seem very out of date and very crowded with content. One of our biggest things as well is featuring and highlighting the people we have featured. This is huge on all areas of the site. I’m not sure how to incorporate this but this is basically our biggest selling point.
</h2>
