<h1>Notes</h1>

<h2>
  We should have every page have something like, ‘export default’ and maybe even make our entire site look like a text editor.
</h2>

<h2>
  We could be really funny and every time the page loads, something that says “loading this” or something like that it’s like someone in atom typing with that plugin.
</h2>

<h1>Content Outline for site</h1>
<h2>
Because we are producing a lot of content and trying to list out quite a few things, we need to probably create a site similar to oreilly.com or mashable.com. The problem with these sites is that they seem very out of date and very crowded with content. One of our biggest things as well is featuring and highlighting the people we have featured. This is huge on all areas of the site. I’m not sure how to incorporate this but this is basically our biggest selling point.
</h2>

<h2>
  Need to make sure all our subbrands have verbiage about this.dot so there is some cohesion.
</h2>

<h2>Key for us to be noticed. We want this logo up in tweets, in conferences, on tees, on laptops, etc.

Need to figure out how we as a company deserve PR attention. Our brand needs to reflect thought leadership, inclusiveness, exclusiveness, and attract the attention of those who are writing about JavaScript and what they are excited about. Our brand also needs to be able to attract the attention of startups and corporation communities alike. Professional, but reachable. Technical credibility is extremely important.
</h2>

<h1>What is the problem you are solving?</h1>
<h2>
For consulting, It's difficult for companies to know what technologies to use and when they ask for advice, it's often biased based on the companies expertise. We'll have technical leaders from each of these frameworks on our team. As a consulting company, we'll be able to advise companies based on what's best for the project and the company rather than our technology of choice.

One key word with this company is cross-pollination. Part of our technical leadership will be bringing good ideas from one framework to the others.

For media, Most technical content is usually very dry. We're going to make it interesting and high production value. Funny too. Our goal is to ultimately create a Netflix show for the web technology industry.

</h2>

<h2>> Why should customers choose you?
For consulting, They'll be able to hire skilled experienced Ember developers for 40% less than their going market rate. For mentoring, it's all same as EmberSherpa.

For media, we are basically the best of the best and this is where you go to find the most cutting edge content.
</h2>

<h2>
  > Who is your ideal customer? What do they believe in?
Companies that are building large applications. I would also like for us to partner with large consulting companies like Deloitte to provide the web framework technology expertise to help their clients decide what technology to use. Afterwards, I want us to help these companies scale up their expertise in chosen technology.
</h2>

<h2>
  > What are the hurdles to converting potential customers? What are their main objections?
It’s really about who is the best and who can help when it comes to consulting. Because we are a thought leader in the industry, we can help our customers achieve what they would like while remaining unbias.
</h2>

<h2>> How do you want potential customers to see your brand?
Thought leader
</h2>

<h2>> Choose 5 adjectives to describe your brand's personality or culture.
Engaging, Helpful, Professional, Technical, Interesting, Creative
</h2>

<h2>
  > What is the goal for your character?
I don’t know… to bring the brand to life? To not be something boring like O’Reilly or other brands that have nothing? So people can relate to something. Identify. Feel ownership to.
</h2>

<h2>
  > How do you envision using it in your branding? How will you communicate your message with it? Any other ideas you want me to incorporate into your character?
We are open to your ideas here.

</h2>
