<h1>Partners &amp; Sponsors</h1>

<h2>Current</h2>

<h3>List here</h3>

<h2>----------------------------------</h2>

<h2>Past</h2>

<h2>
  <ul>
    <li>Interactive Intelligence</li>
    <li>Q2e Banking</li>
    <li>OTSI</li>
    <li>The emberjs munich guy</li>
    <li>EmberSherpa</li>
  </ul>
</h2>
