<section class="content-section contact-section">
  <div class="row">
    <div class="col-lg-6">
      <h2>
        Sponsors
      </h2>
    
      <p>
        Thank you to our generous sponsors for supporting This Dot.
      </p>
      <ul class="row sponsors-list">
        <li class="col-md-6">
          <img src="/media/sponsors/angular-boot-camp-logo.png" alt="Angular Bootcamp">
        </li>
        <li class="col-md-6">
          <img src="/media/sponsors/career-builder-logo.png" alt="Career Builder">
        </li>
      </ul>
      <p>
        Support the web platform development and put your brand in front of developers by sponsoring This Dot.
      </p>
      <p>
        Email us for sponsor info: <a href="mailto:hi@thisdot.co" target="_blank">hi@thisdot.co</a>.
      </p>
    </div>
  </div>
</section>